{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <script type="text/javascript" src="{% static 'js/jquery1.4.js' %}"></script>
    <title>{% block title %}网站标题{% endblock %}</title>
    <meta name="Keywords" content="{% block keyword %}网站关键字{% endblock %}"/>
    <meta name="Description" content="{% block desc %}网站描述{% endblock %}"/>
    <!-- Le styles -->
{% block style %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'style/basic.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style/index.css' %}"/>
    <script type="text/javascript" src="{% static 'js/bioV4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.lazyload.mini.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style/comment.css' %}"/>
    <script type="text/javascript" src="{% static 'js/function.js' %}"></script>
    <!--[if IE 6]>
<script type="text/javascript" src="{% static 'js/DD_belatedPNG.js' %}"></script>
<script type="text/javascript">
DD_belatedPNG.fix('img,.ie6png');
</script>
<![endif]-->
    <link type="text/css" rel="stylesheet" href="{% static 'style/biobox2.css' %}"/>
    <script type="text/javascript" src="{% static 'js/biobox.js' %}"></script>

</head>
<body>
<script type="text/javascript" src="{% static 'js/borsertocss.js' %}"></script><!-- 判断在IE9以下浏览器中根据像素的不同而设置的样式 -->


<div class="navbar navbar-fixed-top" style="_position: relative;_z-index: 10000;">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav" id="navID">
                    <li class="active"><a href="/index/"><b>首页</b></a></li>

                    {% for item in globle_category %}
                        <li ><a href="/{{ item.c_name }}/"><b>{{ item.name }}</b></a></li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="nav pull-right login-none nav-tips">
                <li class="ie6png divider-vertical"
                    style="_width: 30px;_height: 40px;_background: url({% static 'images/icons.png' %}) no-repeat 10px -106px;">
                    <a class="dropdown-toggle clearfix"
                       href="{% if globle_cookies_username %}/userinfo/{% else %}javascript:;{% endif %}"
                       style="padding: 7px 5px;"><img class="logo-before pull-left"
                                                      src="{% static 'images/avatar-icon.png' %}"/></a></li>
            </ul>
            <div class="popup-div tips-div" style="position: absolute;z-index: 10000001;display: none;"></div>
            <ul class="nav pull-right pl-20 myul">
                {% if globle_cookies_username %}
                    <li class="l10"><a href="/userinfo/">{{ globle_cookies_username }}</a></li>
                    <li class=""><a href="/logout/">注销</a></li>
                {% else %}
                    <li class=""><a href="/register/">注册</a></li>
                    <li class="l10"><a href="/login/">登录</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>

<div class="top-div">
    <div class="container clearfix">

        <div class="span3 logo-div logo-img" style="margin-left:0px;">
            <a href="/" title="医疗器械创新网"><img src="{% static 'images/logo.jpg' %}" class="ie6png"
                                             style="display: block;"/></a>
        </div>

        <div class="span11 pull-right top-ad" style="position: relative;_float: right;_height: 80px;_overflow: hidden;">

            <a href="javascript:;" class="pull-left" target="_blank" rel="nofollow">
                <img alt="" src="{% static 'images/img1.jpg' %}" style="width: 100%; display: block;"/></a>

            <a href="javascript:;" class="pull-left" style="display:none;" target="_blank">
                <img alt="" src="{% static 'images/img2.jpg' %}" style="width: 100%; display: block;"/></a>


            <div class="slides-icon-ad slides-ad-point" style="position: absolute;right:60px;">
                <a href="javascript:void(0);" class="icon-css-on ie6png">&nbsp;</a>
                <a href="javascript:void(0);" class="icon-css ie6png">&nbsp;</a>
            </div>

        </div>

    </div>
</div>



{% block content %}
    123
{% endblock %}


<div class="span4">



            <div class="label-div t-20 border-all">
				<div class="l-15">
               		 <h3 class="label-title border-b b-15 small clearfix" style="padding-bottom: 14px;">咨询信息</h3>
                </div>
				<div class="label-main tody-hot l-15" >
					<ul>
                        {% for item in globle_consultationlist %}
					  <li><a href="/consultation-{{ item.id }}/" >{{ item.title }}</a></li>
                        {% endfor %}


					</ul>
				</div>
			</div>



             <div class="label-div t-20 border-all">
				<div class="l-15">
               		 <h3 class="label-title border-b b-15 small clearfix" style="padding-bottom: 14px;">最多分享</h3>
                </div>
				<div class="label-main tody-hot l-15" >
					<ul>
					   {% for item in globle_consultationshare %}
					  <li><a href="/consultation-{{ item.id }}/" >{{ item.title }}</a></li>
                        {% endfor %}

					</ul>
				</div>
			</div>



             <div class="label-div t-20 border-all">
				<div class="l-15">
               		 <h3 class="label-title border-b b-15 small clearfix" style="padding-bottom: 14px;">最多评论</h3>
                </div>
				<div class="label-main tody-hot l-15" >
					<ul>
					  {% for item in globle_consultationcomment %}
					  <li><a href="/consultation-{{ item.id }}/" >{{ item.title }}</a></li>
                        {% endfor %}
					</ul>
				</div>
			</div>

		</div>








<div class="footer">

    <!--<p class="fc999 b-5 footer-info">致力于前沿生物科技和成功商业模式的传播</p>-->
    <div class="clearfix" style="background:#EDEDED;">

        <!--<p class="fc999 pull-left footer-info">Copyright © 2013 生物探索网站<span class="l-20">苏ICP备11025281号</span></p>-->

        <ul class="about-ul">
            <li>客服电话 400-100-8884 - More Templates <a href="http://www.cssmoban.com/" target="_blank"
                                                      title="模板之家">模板之家</a></li>
            <li><span>|</span></li>
            <li><a title="广告投放" href="javascript:;" class="fc666" target="_blank">广告投放</a></li>
            <li><span>|</span></li>
            <li><a title="企业服务" href="javascript:;" class="fc666" target="_blank">企业服务</a></li>
            <li><span>|</span></li>
            <li><a title="公司博客" href="javascript:;" class="fc666" target="_blank">公司博客</a></li>
            <li><span>|</span></li>
            <li><a title="加入我们" href="javascript:;" class="fc666" target="_blank">加入我们</a></li>
            <li><span>|</span></li>
            <li><a title="服务协议" href="javascript:;" class="fc666" target="_blank">服务协议</a></li>
            <li><span>|</span></li>
            <!-- <li id="zk_btn" class="ie6png down-class">
                <a title="友情链接" href="javascript:void(0);" class="fc666">友情链接</a>
            </li>-->
            <li id="zk_btn" class="ie6png down-class">
                <a title="友情链接" href="javascript:void(0);" class="fc666">友情链接</a>
            </li>
            <div class="clear"></div>
        </ul>
    </div>

    <div class="friend-link border-all t-20 b-20">
        <ul class="clearfix">

            {% for i in all_link %}
                <a href="{{ i.url }}" target="_blank">{{ i.name }}</a>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>