{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/login.css' %}"/>
<script type="text/javascript" src="{% static 'js/bioV4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.lazyload.mini.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style/comment.css' %}"/>

{% endblock %}


{% block content %}

	<div class="hr tp-div-nexthr" style="margin-top: 0;margin-bottom: 0;padding: 0;"></div>
	<div class="container pb-15">
	<!-- Example row of columns -->
	<div class="row">
		<div class="span16">
			<div class="label-public-title t-30">

			</div>
			<div class="label-div t-15 border-all" style="padding: 0;">
				<div class="label-main">
					<div class="clearfix label-public pt-25">
						<div class="pull-left public-login" id="register-third" style="display: block;">
                							<div class="pull-left public-login span10">
								<div class="pl-25 fc333">用户详细信息</div>

                                <div class="clearfix pl-25 pt-25">
									<div class="title pull-left fc999" style="text-align: center">用户名 </div>
									<div class="title pull-left fc999" style="text-align: left">{{ userinfo.username }}</div>

								</div>

								<div class="clearfix pl-25 pt-25">
									<div class="title pull-left fc999" style="text-align: center">邮箱 </div>
									<div class="title pull-left fc999" style="text-align: left">{{ userinfo.email }}</div>

								</div>




								<div class="clearfix pl-25 pt-25 pb-30">



									<span class="pull-left l-20 info fc999" style="_width: auto;_margin: 0 0 0 10px;">编辑个人资料<a class="l-5 sina-register-button" href="/edit-{{ userinfo.username }}/" title="注册">编辑</a></span>
								</div>
							</div>
							<div class="pull-left t-50 l-20">
								<div class="label-div border-all" style="padding: 10px;width: 150px;"><img class="lazyloadimg show_fave" src="{{ MEDIA_URL }}{{ userinfo.avatar}}" style="width: 150px;height: 150px; display: block;" /></div>
								<div class="center t-10"><input id="file" type='file' name="file" onChange="ajaxFileUpload()" /><input id="new_face" type='hidden' name="new_face" value="" /></div>
							</div>


						</div>



					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}